
  

<div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">Book your Appointment Now ! </div>
  </a>
 </div>
 <div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">Order Medicine From Home! </div>
  </a>
 </div>
 <div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">Tests at your Door Step !</div>
  </a>
 </div>
 <br>
 <div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">Login to your Account </div>
  </a>
 </div>
 <br>
 <div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">we are Available 24/7 </div>
  </a>
 </div>
 <br>
 <div class="gallery">
  <a href="{% url 'book' %}">
    <img src="{% static 'appointments/img/doctors.jpg' %}" alt="Cinque Terre" width="600" height="400">
    <div class="desc">Easy Cancelation! </div>
  </a>
</div>
</body>
</html>
