{% extends "appointments/layout.html "%}

{% block body%}
    <h2 style="text-align: center; color:rgb(13, 10, 182)"> Register  by  filling  in  this  below  form</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        <div class="container">
        {% csrf_token %}
          <hr>
        <div>
            <label for="First Name"><b>First Name</b></label>
            <input type="text" name="firstname" placeholder="First Name">
        </div>
        <div>
            <label for="lastname"><b>Last Name </b></label>
            <input type="text" name="lastname" placeholder=" Last Name">
        </div>
        <div>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>
        </div>
        <div>
            <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="psw" required>
        </div>
        <div>
            <label for="confirmation"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="confirmation" id="confirmation" required>
        </div>
        <hr>
        <div>Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>

    {% endblock %}

      